* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Varela Round", sans-serif;
}
.all {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  background-color: #05071d;
}
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
main {
  display: flex;
  position: relative;
  padding: 0 3rem;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}
header {
  background-color: #272c4b;
  padding: 1em 1.8em;
  align-items: center;
  color: #fff;
}
.yellow {
  color: rgb(243, 179, 3);
}
.first-header {
  display: flex;
  gap: 4em;
  grid-column: span 11;
  align-items: center;
}
.last-header {
  display: flex;
  gap: 2em;
  align-items: center;
}
.balance {
  display: flex;
  grid-column: span 2;
  background-color: #0f131a;
  border-radius: 10px;
  width: 13rem;
  height: 2.5rem;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.5em;
}
.deposit {
  display: flex;
  width: 60%;
  background-image: linear-gradient(180deg, #dd566e 0%, #d73a50 100%);
  height: 100%;
  border-radius: 10px;
  align-items: center;
  gap: 0.6em;
  padding: 0.5em;
  border: none;
  color: #fff;
}
.vip {
  display: flex;
  gap: 0.5em;
  color: #ffc961;
  background-color: #0f131a;
  border-radius: 10px;
  grid-column: span 1;
  align-items: center;
  width: 8rem;
  padding: 0.6em;
  border: none;
}
.vip > h5 {
  flex-grow: 1;
}
.top {
  display: flex;
  gap: 1.5em;
  align-items: center;
}
#top {
  display: flex;
  gap: 2rem;
}
.r-top {
  padding: 1em;
  border: gray 2px solid;
  border-radius: 10px;
}
.l-top {
  color: gray;
}
.About {
  display: flex;
  gap: 3rem;
  color: gray;
}

footer {
  background: #272c4b;
  color: grey;
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 1em 5em;
}
.footer-top {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px 300px;
  gap: 4em;
}
#footer-text {
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: 14px;
}
.paragraphs {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
}
.social {
  display: flex;
  flex-grow: 1;
  gap: 1em;
}
.main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 1rem;
  align-items: center;
  gap: 1rem;
}
#box-1 {
  border-radius: 10px;
}
.Cash-back {
  background-image: linear-gradient(
    93.63deg,
    #4353ff 1.49%,
    #245cff 30.16%,
    #67dbff 98.46%
  );
  display: flex;
  color: #fff;
  justify-content: space-between;
  align-items: center;
  grid-column: 3/7;
  padding: 1rem;
}
.texts {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  font-weight: 800;
  font-style: italic;
}
.facebook {
  background-image: linear-gradient(90deg, #3367ff 0%, #8647ff 100%);
  display: flex;
  color: #fff;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  grid-column: span 4;
}
.image {
  position: relative;
  width: 50%;
  height: 120px;
}
.float {
  position: absolute;
}
#facebook {
  top: 0;
  right: 0;
}
#love {
  bottom: 0;
  left: 1;
}
#thumb {
  left: 0;
  top: 0;
}
.Vip {
  background-image: linear-gradient(180deg, #ffcd4d 0%, #ff8869 100%);
  grid-column: 3 / span 2;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 0.5em;
  width: 12rem;
  justify-content: center;
  padding: 0.2em;
}
.Btc {
  background-image: url(/img/wheel.jpg);
  grid-column: 5 / span 2;
  background-size: 100%;
  height: 100%;
  background-repeat: no-repeat;
}
.Gift {
  background-image: linear-gradient(180deg, #0bc2c2 0%, #0364ff 100%);
  grid-column: 7 / span 2;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 0.5em;
  width: 12rem;
  justify-content: center;
  padding: 0.9em;
  font-size: 14px;
}
.Gift-2 {
  background-image: linear-gradient(180deg, #0bc2c2 0%, #0364ff 100%);
  grid-column: 9 / span 2;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 0.5em;
  width: 12rem;
  justify-content: center;
  padding: 0.9em;
  font-size: 14px;
}
.middle {
  background-image: linear-gradient(180deg, rgba(5, 7, 29, 0) 0%, #363b6f 100%);
  padding: 0 3rem 1rem 3rem;
  display: flex;
  gap: 5rem;
  border-radius: 10px;
  align-items: center;
}
#slots {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font-size: 14px;
}
.main-2 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 1rem;
  align-items: center;
  gap: 1rem;
}
.Vip-2 {
  background-image: linear-gradient(180deg, #ffcd4d 0%, #ff8869 100%);
  grid-column: 3 / span 2;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-b3tween;
  height: 8rem;
  padding: 1em;
}
.Btc-2 {
  background-image: url(/img/wheel.jpg);
  grid-column: 5 / span 3;
  background-size: 100%;
  height: 100%;
  background-repeat: no-repeat;
}
.Gift-3 {
  background-image: linear-gradient(180deg, #0bc2c2 0%, #0364ff 100%);
  grid-column: 8 / span 3;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 0.2em;
  justify-content: center;
  padding: 0.9em;
  height: 8rem;
}
.Gift-4 {
  background-image: linear-gradient(180deg, #0bc2c2 0%, #0364ff 100%);
  grid-column: 3 / span 2;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 0.2em;
  justify-content: center;
  padding: 0.9em;
  height: 8rem;
}
.Cash-back-2 {
  background-image: linear-gradient(
    93.63deg,
    #4353ff 1.49%,
    #245cff 30.16%,
    #67dbff 98.46%
  );
  display: flex;
  color: #fff;
  justify-content: space-between;
  align-items: center;
  grid-column: 5 / span 3;
  padding: 0.5rem;
  font-size: 14px;
}
.Cash-back-2 > texts {
  gap: 0rem;
}
.facebook-2 {
  background-image: linear-gradient(90deg, #3367ff 0%, #8647ff 100%);
  display: flex;
  color: #fff;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  grid-column: span 3;
}
